@use "../abstracts/" as *;
@use "../theme/" as *;

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    font-size: $font-size * .85;
    @include themify($themes){
        color: themed("faded-text-color");
    }
    .todos-state {
        display: flex;
        gap: 1.3rem;
        font-weight: 600;
    }
    .list-filter{
        &.active{
            color: $bright-blue;
        }
    }
    p{
        cursor: pointer;
        transition: .2s ease-in-out;
        &:hover{
            @include themify($themes){
                color: themed("text-hover");
            }
        }
    }
}