@use "../abstracts/" as *;
@use "../theme/" as *;

.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    font-size: $font-size * .85;
    @include themify($themes){
        color: themed("faded-text-color");
    }
    .todos-state {
        display: flex;
        gap: 1.3rem;
        button{
            font-weight: bold;
        }
    }
    .list-filter{
        &.active{
            color: $bright-blue;
        }
    }
    button{
        cursor: pointer;
        transition: .2s ease-in-out;
        background-color: transparent;
        border: none;
        font-size: $font-size * .85;
        font-family: $primary-font;
        @include themify($themes){
            color: themed("faded-text-color");
        }
        &:hover{
            @include themify($themes){
                color: themed("text-hover");
            }
        }
    }
}