@use "../theme" as *;
@use "../abstracts" as *; 

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    color: $very-light-gray;
    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    h1{
        letter-spacing: 1rem;
    }
    @include mobile{
        margin-bottom: 1.8rem;
        h1{
            font-size: $font-size * 1.7;
        }
        svg{
            scale: 0.85;
        }
    }
}