@use "../abstracts" as *;
@use "../theme/" as *;

.todo {
    @include themify($themes){
        background-color: themed("list-background");
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
        .close-btn{
            opacity: 1;
        }
    }
    &.new{
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .input{
        border: none;
        font-family: $primary-font;
        outline: none;
        flex-grow: 1;
        font-size: $font-size;
        caret-color: $bright-blue;
        cursor: pointer;
        @include themify($themes){
            background-color: themed("list-background");
            color: themed("text-color")
        }
        &:disabled{
            background-color: $very-light-gray;
            color: $very-dark-blue;
        }
        &.completed{
            text-decoration: line-through;
            @include themify($themes){
                color: themed("completed-text-color")
            }
        }
    }
    button{
        margin: 1.3rem;
    }
    .close-btn {
        @extend %default-button;
        opacity: 0;
    }
    .check, .submit-btn{
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        @extend %default-button;
        @include themify($themes) {
            border: 1px solid themed("border-color");
        }
        &:hover{
            @include themify($themes){
                background: linear-gradient(themed("list-background"), themed("list-background")) padding-box,
                $check-background border-box;
                border: 1px solid transparent;
            }
        }
        &.completed{
            background: $check-background;
            background: $check-background padding-box,
            $check-background border-box;
            border: 1px solid transparent;
            &:hover{
                @include themify($themes){
                    background: $check-background;
                    background: $check-background padding-box,
                    $check-background border-box;
                    border: 1px solid transparent;
                }
            }
        }
    }
}

@include mobile {
    .todo {
        .input{
            font-size: $font-size * 0.65;
        }
        button{
            margin: 1rem;
        }
        .check, .submit-btn, .close-btn{
            height: 1.2rem;
            width: 1.2rem;
        
        }
        .close-btn{
            svg{
                scale: .8;
            }
        }
    }
}