$desktop-light-bg: url(/resources/images/bg-desktop-light.jpg);
$mobile-light-bg: url(/resources/images/bg-mobile-light.jpg);

$desktop-dark-bg: url(resources/images/bg-desktop-dark.jpg);
$mobile-dark-bg: url(resources/images/bg-mobile-dark.jpg);