$desktop-light-bg: url("../../../public/images/bg-desktop-light.jpg");
$mobile-light-bg: url("../../../public/images/bg-mobile-light.jpg");

$desktop-dark-bg: url("../../../public/images/bg-desktop-dark.jpg");
$mobile-dark-bg: url("../../../public/images/bg-mobile-dark.jpg");