@use "../abstracts" as *;

$themes: (
    light: (
        background: $very-light-gray,
        text-color: $very-dark-grayish-blue,
        list-background: $very-light-gray,
        background-image: $desktop-light-bg,
        faded-text-color: $dark-grayish-blue,
        completed-text-color: $lighter-grayish-blue,
        border-color: $lighter-grayish-blue,
        text-hover: $very-dark-grayish-blue,
        obs-text: $dark-grayish-blue,
    ),
    dark: (
        background: $very-dark-blue,
        text-color: $light-grayish-blue,
        list-background: $very-dark-desaturated-blue,
        background-image: $desktop-dark-bg,
        faded-text-color: $darker-grayish-blue,
        completed-text-color: $very-dark-gray-blue,
        border-color: $very-dark-gray-blue2,
        text-hover: $light-grayish-blue-hover,
        obs-text: $very-dark-gray-blue,
    )
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge($theme-map, ($key: $value)) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }

@function themed($key){
    @return map-get($theme-map, $key)
};
